body{
    background-image:url(./background.jpg) ;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    
}
.title {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.952);
    font-size: 50px;
    
}
.n:hover{
    background-color: #006d77;
    color: white;
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;  
}
a{
    color: #1d3557;
}
h3{
    color: white;
    font-size: 31px;
}
.main{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.O{
    width: 200px;
    height: 300px;
    margin-top: 20px;

}
/* search bar */
.Search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #457b9d;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   }
   
   .Search-bar:hover > .Search-txt {
    width: 240px;
    padding: 0 6px;
   }
   
   .Search-bar:hover > .Search-btn {
    background: white;
    color: black;
   }
   
   .Search-btn {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
   .Search-btn > i {
    font-size: 30px;
   }
   
   .Search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

/* search option */
ul#wrapper {
    list-style: none;
    display: inline-block;
    margin-top: 300px;
    margin-left: 350px;
    text-align: center;
  
}

li {
    font-family: 'Dosis', sans-serif;
    width: 200px;
    height: 100px;
    background: white;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-align: center;
}
.a {
    font-size: 24px;
    color: black;
    line-height: 100px;
    font-family: monospace;
    text-decoration: none;
}
 /*  title*/
ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    flex: 1;
    padding: 0px 22px;
   

}


button{
    background-color: rgba(128, 128, 128, 0.349);
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}

/* pop up sec */

 [id^=modal] {
    font-family: 'Dosis', sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.507);
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    text-align: center; 
    }
  input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
    }
  #modal1:target {
    display: block;
    }
    #modal2:target {
        display: block;
    }
    #modal3:target {
        display: block;
    }
  
  [id^=modal] a {
    float: right;
    }