body{
    background-image:url(./background.jpg) ;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    
}
.title {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.952);
    
    
}
h3{
    color: white;
    font-size: 31px;
}
.main{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.O{
    width: 200px;
    height: 300px;
    margin-top: 20px;

}

.option{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 100px;
    height: 100px;
    margin-left: 500px;
    margin-top: 250px;
    border-radius: 12px;
    background-color: rgba(245, 245, 245, 0.24);
    transition: all ease 0.2s;
   
}
  
ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    flex: 1;
    padding: 0px 22px;
   

}
ul li:hover{
   
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    
}
/* end of css to main page  */
button{
    background-color: rgba(128, 128, 128, 0.349);
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}

/* pop up sec */

 [id^=modal] {
    font-family: 'Dosis', sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.507);
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    text-align: center; 
    }
  input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
    }
  #modal1:target {
    display: block;
    }
    #modal2:target {
        display: block;
    }
    #modal3:target {
        display: block;
    }
  
  [id^=modal] a {
    float: right;
    }